div#logo {
    overflow: auto;
    position: fixed;
    right: 0;
    bottom: 30px;
    z-index: -1;
}

.contact_box {
    background-color: #A7A5A6;
    border: 2px solid white;
    clear: both;
    color: black;
    font-size: 16px;
    margin: 30px 20px 0;
    padding: 2px 0;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.contact_box a {
    color: black;
}

.contact_box span {
    font-weight: bold;
}

body {
    margin: 0;
    font-family: "Trebuchet MS", Arial, sans-serif;

    background: url("../images/gradient.jpg") repeat-x scroll 0 0 #262626;
}

img {
    border: none;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content p a, ul.list a {
    border-bottom: 1px dotted;
}

ul.list li {
    margin-bottom: 10px;
}

a {
    outline: none;
    text-decoration: none;
    color: #262626;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.content a:hover {
    background: #FFE8A4 none repeat scroll 0 0;
}

.content a.none {
    background: none;
}

.main {
    overflow: hidden;
    width: 1120px;
    margin: 30px auto 0;
    font: 14px Trebuchet MS, Arial, sans-serif, Tahoma;
    line-height: 150%;
}

p.bottom-margin {
    margin-bottom: 30px;
}

p {
    margin-bottom: 15px;
}

.wrap_column {
    margin: 18px 10px 0 47px;
}

.info {
    background: #262626 url("../images/icon_alert.png") no-repeat 10px center;
    border: 2px solid #A7A5A6;
    color: #A7A5A6;
    font-size: 13px;
    letter-spacing: 0.05em;
    margin: 20px auto 20px auto;
    padding: 10px 0 10px 45px;
    max-width: 440px;
}

.content {
    overflow: hidden;
    background: url(../images/noise.png) white;
    border: 2px solid #BDBBBC;

    padding-bottom: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.left_column {
    margin: 18px 30px 0 30px;
}

#big_column {
    margin: 18px 47px 0 30px;
}

.right_column {
    float: right;
    overflow: hidden;
    padding: 0 5px 0 0;
    width: 275px;
    margin-top: 20px;
    margin-left: 20px;
}

p, #big_column p {
    padding: 0 0 3px 0;
    text-align: justify;
}

h1 {
    text-align: center;
    border-bottom: 1px dotted;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Bookman Old Style', serif;
    overflow: hidden;
    color: #262626;
    padding-bottom: 9px;
    margin-bottom: 20px;
}

h2 {
    background-color: #262626;
    color: #A7A5A6;
    font-family: 'Bookman Old Style', serif;
    font-size: 18px;
    margin: 30px 0 5px;
    overflow: hidden;
    padding: 5px;
}

h3 {
    margin-top: 15px;
    color: #262626;
}

/* Photos in right column */
.photo img {
    margin-bottom: 40px;
    border: 1px solid #666666;
    padding: 4px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.inline-photo img {
    margin: 30px 0;
    border: 1px solid #666666;
    padding: 4px;
    display: inline;
    margin-right: 30px;
}

img.no-border {
    border: none;
}

.list-column {
    float: left;
    width: 20em;
    margin-right: 20px;
    margin-bottom: 5px;
}

.wide-column {
    width: 22em;
}

.text-box {
    float: left;
    background-color: #F3F6E7;
    border: 1px solid #73AFB7;
    margin-top: 20px;
    margin-bottom: 25px;
}

.clear-both {
    clear: left;
}

#photo-frame {
    margin: 30px 0 0 30px;
}

.banner {
    font-weight: bold;
    padding: 5px 20px;
    font-size: 24px;
    border: 2px solid #A7A5A6;
    text-shadow: 1px 1px 0 #e5e5ee;
    font-variant: small-caps;
    border-radius: 15px;
    letter-spacing: 2px;
}
